name: Build and Deploy in ci
on:
  workflow_dispatch:

jobs:
  full:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build Maven Project
        run: mvn clean package

      - name: Run SonarQube Analysis
        env:
          SONAR_HOST: ${{ secrets.SONAR_HOST }}
          SONAR_USER: ${{ secrets.SONAR_USERNAME }}
          SONAR_PASS: ${{ secrets.SONAR_PASSWORD }}
        run: |
          mvn sonar:sonar \
            -Dsonar.host.url="${SONAR_HOST}" \
            -Dsonar.login="${SONAR_USER}" \
            -Dsonar.password="${SONAR_PASS}"

      - name: Deploy Artifact to Nexus
        env:
          NEXUS_USER: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASS: ${{ secrets.NEXUS_PASSWORD }}
          NEXUS_URL: ${{ secrets.NEXUS_URL }}
        run: |
          WAR=$(ls target/*.war | head -n 1)

          curl -v -u "${NEXUS_USER}:${NEXUS_PASS}" \
            --upload-file "$WAR" \
            "${NEXUS_URL}/repository/maven-releases/com/kkfunda/maven-web-application/1.0/maven-web-application-1.0.war"

      - name: Deploy WAR to Tomcat
        env:
          TOMCAT_URL: ${{ secrets.TOMCAT_URL }}
          TOMCAT_USER: ${{ secrets.TOMCAT_USERNAME }}
          TOMCAT_PASS: ${{ secrets.TOMCAT_PASSWORD }}
        run: |
          WAR=$(ls target/*.war | head -n 1)
          curl -sS -u "${TOMCAT_USER}:${TOMCAT_PASS}" \
            --upload-file "$WAR" \
            "${TOMCAT_URL}/manager/text/deploy?path=/maven-web-application&update=true"
